body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #04395c;
color: #fff;
width: 70%;
line-height: 1.5;
padding: 20px 120px 20px;
}

.career{
    background-color: #021233;
    color: #fff;
    text-align: center;
    margin: 2%;
    
    
}

.started{
    background-color: #1673c0;
    padding: 5px 5px;
    color: #fff;
    margin: 0 2% 0;
}

.appointment{
    
    padding: 5px 5px;
    color: #fff;
    margin: 0 2% 0;
}

.achievement{
    background-color:  #1673c0;
    padding: 5px 5px;
    color: #fff;
    margin: 0 2% 0;
}

.conceptual{
    
    padding-top: 20px;
    color: #fff;
    margin: 0 2% 0;
}

.technical{
    background-color:  #1673c0;
    padding: 5px 5px;
    color: #fff;
    margin: 0 2% 0;
}

.conclusion{
    
    color: #fff;
    margin: 0 2% 0;
}

.my-pix{
    margin: 19px;
    
}

.identity{
    line-height: 1;
}
