
body{
    background-color: #04385a;
    color: #fff;
   width: 70%;
   line-height: 1.5;
   padding: 3%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
}

.head{
    line-height: 1;
}

.fagbemi{
    color: #fff;
    margin: 2%;
   
    top: 40px;
    text-align: left;
   
}
   


.note{
width: 95%;
margin: 2%;

background-color: #1673c0;
padding: 2rem 1rem 1rem;
}



.past-future{
width: 95%;
margin: 2%;

padding: 2rem 1rem 1rem;


}

  
.story{
    width: 95%;
    margin: 2%;
   

}


.headings{
    text-align: left;
    margin: 2%;
    

   
}

.website{
   
    margin: 20px;
}

.cover{
    text-align: left;
    margin: 17px;
   

}



.myself{
    color: #fff;
    margin: 2%;
    line-height: 1;
}

.years{
    width: 95%;
    margin: 2%;
    
    background-color: #1673c0;
    padding: 2rem 1rem 1rem;

}


.thank{
    padding: 2rem 1rem 1rem;
}
