
body{
    background-color: #04385a;
    width: 100%;
    padding: 3rem;
}

.hobbies{
    padding: 10px;
    width: 80%;
    margin: 5px 10px;
    color: #fff;
    background-color: #1673c0;

}

.jogging{
    
    padding: 10px;
    width: 100%;
    margin: 5px 10px;
    color: #fff;
    background-color: #04385a;

}

.pics{
    padding: 10px;
}
